@import '/src/styles/colors.css';

.MessageBox{
    padding:1em;
    background-color: rgba(96, 133, 175, 0.8);
    /* background-color: #406d9e; */
    margin: 1em;
    border-radius: 10px;
    border: 1px solid var(--darkGrey);
    align-items: flex-start;
}

.MessageBox .header div{
    display: flex;
    flex-direction: column;
    text-align:left;
    
}
.MessageBox .image{
    margin-top: 2px;
    margin-right: 6px;
}


.MessageBox .header{
    display: flex;
    flex-direction: row;
}
.MessageBox hr{
border: 1px solid var(--darkGrey);
}
.MessageBox .date{
    font-size: small;
}